{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-uppercase"><center>About Us</center></h1>
   
    <ul>
        {% for post in object_list%}
           
            - {{post.author.first_name}}
            {{post.author.last_name}} 
            
            Created: {{post.post_date}}
            {% if user.is_authenticated %}
                {% if user.id == 1 %}
                    <small><a href="{% url 'update_about_us_post' post.pk %}">Edit</a></small>
                    <small><a href="{% url 'delete_about_us_post' post.pk %}">Delete</a></small>
                    <small><a href="{% url 'add_about_us_post' %}">Add Post</a></small>
                {% endif %}
            {% endif %}
            <hr>
                                    </br>
            {{post.body|safe}}
            </li>
        {% endfor%}
    </ul>
</div>
{% endblock %}