{% extends 'base.html' %}

{% block content %}

    

        {% for post in object_list%}
          {% if post.image1 %}
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{{post.image1.url}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-uppercase" style="color: white;">{{post.img1b_post}}</h2>
                    <h5 class="text-capitalize" style="color: white;">{{post.img1s_post}}</h5>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{{post.image2.url}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-uppercase" style="color: white;">{{post.img2b_post}}</h2>
                    <h5 class="text-capitalize" style="color: white;">{{post.img2s_post}}</h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{post.image3.url}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-uppercase" style="color: white;">{{post.img3b_post}}</h2>
                    <h5 class="text-capitalize" style="color: white;">{{post.img3s_post}}</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <br>
          {% endif %}
          <div style="padding-left: 30px;">
            {{post.title}}
           <small> - {{post.author.first_name}}</small>
           <small>{{post.author.last_name}} </small> 
            <!-- <a href="{% url 'category' post.category|slugify %}" >{{post.category}}</a> -->
            <small>Created: {{post.post_date}}</small>
            {% if user.is_authenticated %}
                {% if user.id == 1 %}
                    <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
                    <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
                    <small><a href="{% url 'add_post' %}">Add Post</a></small>
                {% endif %}
            {% endif %}
          </div>
                </br>
                <!-- <div class="row g-0">
                  <div class="col-sm-6 col-md-8">
                    <div class="p-3 border bg-light">
                      {{post.body|safe}}
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="p-3 border bg-light">
                      {% if post.advert %}
                        {{post.advert|safe}}
                      {% else %}
                        <h3>Advert Column</h3>
                      {% endif %}
                    </div>
                  </div>
                  </div> -->
                  <div style="padding-left: 30px;">
                    <div class="row">
                      <div class="col-md-9">{{post.body|safe}}</div>
                    
                    {% if post.advert %}
                      <div class="col">{{post.advert|safe}}</div>
                    {% else %}md
                      <h3>Advert Column</h3>
                    {% endif %}
                    </div>
                  </div>

        {% endfor%}


{% endblock %}