{% extends 'base.html' %}
{% block content %}

    <h1>Our Services</h1>
    <hr>
    <ul>
        {% for post in object_list%}
           <li> <a href="{% url 'service_detail' post.pk %}">{{post.name}}</a>--{{post.author.first_name}}--{{post.author.last_name}}
            Created:{{post.post_date}}
            {% if user.is_authenticated %}
                {% if user.id == 1 %}
                    <small><a href="{% url 'update_service_post' post.pk %}">Edit</a></small>
                    <small><a href="{% url 'delete_service_post' post.pk %}">Delete</a></small>
                {% endif %}
            {% endif %}     
            </br>
            <!-- {{post.body|safe}} -->
            {{post.snippet}}
            </li><br>
        {% endfor%}
    </ul>

{% endblock %}