{% extends 'base.html' %}

    {% block title%}
        {{ category.name}}
    {% endblock %}
{% block content %}
    <h1>{{ category.name}}</h1>
    <small>By: {{category.author.first_name}}  {{post.author.last_name}}
    <br>
    Created: {{category.post_date}}
    {% if user.is_authenticated %}
        {% if user.id == 1 %}
            <small><a href="{% url 'update_service_post' category.pk %}">Edit</a></small>
            <small><a href="{% url 'delete_service_post' category.pk %}">Delete</a></small>
        {% endif %}
    {% endif %}    
    <hr>
    <br>
    {{category.body| safe}}<br><br>
    <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
    <br><br><hr>
    
    <form action="{% url 'like_service_post' category.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{category.id}}", class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{category.id}}", class="btn btn-primary btn-sm">Like</button>
            {% endif %}
            
        {% else %}
            <small> <a class="nav-link" href="{% url 'login' %}">Login</a> to Like</small>
        {% endif %}
            --{{total_likes}} Likes
    </form>

{% endblock %}